*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.main{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
     background-color:rgb(223, 208, 185);
}
.mainDiv{
    background-color:rgb(243, 240, 240);
    height: 350px ;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 30px 10px;
    border-radius: 10px;
    padding: 20px;
    font-family: sans-serif;
    box-shadow: 10px 10px 10px 02px rgb(152, 152, 152);
}
.image{
    height: 150px;
    width: 300px;
}
.content{
    color: rgb(114, 114, 114);
    /* text-align: justify; */
}
.priceDiv{
    font-size: 20px;
    color: rgb(100, 99, 99);
}
.price{
    color: red;
}
.sign{
    font-size: 25px;
    color: black;
}
button{
    padding: 10px;
    border: 2px solid gray;
    border-radius: 10px;
    margin-left: 50px;
    cursor: pointer;
    font-size: 16px;
    background-color: black;
    color: white;
}
button:hover{
    color: black;
    background-color: white;
}